{{#partial "content"}}
    <div class="col-md-5">
        <h1 class="text-primary">Heroes List</h1>
        {{#if heroes}}
        <ol>
            {{#each heroes}}
                    <li>
                        <div class="card border-light text-dark my-3">
                            <div class="card-body">
                                <h4 class="card-title">Name: {{name}}</h4>
                                <a href="/squads/:squadId/heroes/{{id}}" class="card-link">See more</a>
                            </div>
                        </div>
                    </li>
            {{/each}}
        </ol>
        {{else}}
            <p>No heroes added yet</p>
        {{/if}}
    </div>
    <div class="col-md-5">
        <h1 class="text-primary">Squad List</h1>
        {{#if squads}}
        <ol>
            {{#each squads}}
                    <li>
                        <div class="card border-light text-dark my-3">
                            <div class="card-body">
                                <h4 class="card-title">Name: {{name}}</h4>
                                <a href="/squads/:squadId" class="card-link">See more</a>
                            </div>
                        </div>
                    </li>
            {{/each}}
        </ol>
        {{else}}
            <p>No squads added yet</p>
        {{/if}}
    </div>
{{/partial}}

{{> layout.hbs}}