{{#partial "content"}}
    {{#if editSquad}}
        <div class="col-md-5">
            <h1>Edit this Squad</h1>
            <form action="/squads/{{editSquad.id}}/update" method="post">
                <div class="form-group">
                    <label for="name">Change this squad's name</label>
                    <input class="form-control" id="name" name="name" type="text" value="{{editSquad.name}}">
                </div>
                <div class="form-group">
                    <label for="cause">Change this squad's cause</label>
                    <input class="form-control" id="cause" name="cause" type="text" value="{{editSquad.cause}}">
                </div>
                <div class="form-group">
                    <label for="maxSize">Change this squad's maximum size</label>
                    <input class="form-control" id="maxSize" name="maxSize" type="number" value="{{editSquad.maxSize}}">
                </div>
                <button type="submit" class="btn btn-primary">Go!</button>
            </form>
        </div>

    {{else}}
        <div class="col-md-5">
            <h1>Create a new Squad</h1>
            <form action="/squads" method="post">
                <div class="form-group">
                    <label for="name">Squad Name</label>
                    <input class="form-control" id="name" name="name" type="text">
                </div>
                <div class="form-group">
                    <label for="cause">What is the squad fighting for</label>
                    <input class="form-control" id="cause" name="cause" type="text">
                </div>
                <div class="form-group">
                    <label for="maxSize">What is the maximum size of the squad</label>
                    <input type="number" class="form-control" id="maxSize" name="maxSize">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    {{/if}}
{{/partial}}

{{> layout.hbs}}